{% load staticfiles %}
<html>
	
	<head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<link href="{% static 'company.css' %}">
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container">
  <!-- Topper w/ logo -->
  <div class="row">
    <div class="col-xs-10 col-sm-7">
			<img src="{% static 'logo2.png' %}"style="width:1150px;height:160px;" >
			
    </div>
    
  </div> <!-- End Topper -->
  <!-- Navigation -->
  <div class="row">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs-inline-block nav-logo" href="/"><img src="/images/logo-dark-inset.png" class="img-responsive" alt=""></a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav js-nav-add-active-class">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active"><a href="#">Markets</a></li>
            <li><a href="#">Buy</a></li>
            <li><a href="#">svStrike</a></li>
            <li><a href="#">Training</a></li>
            <li><a href="#">Contact Us</a></li>
            <li class="visible-xs-block"><a href="#">About Us</a></li>
            <li class="visible-xs-block"><a href="#">Careers</a></li>
            <li class="visible-xs-block"><a href="#">Press Release</a></li>
            <li class="visible-xs-block"><a href="#">Support</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press Release</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <a type="button" class="navbar-btn btn btn-gradient-blue" am-latosans="bold" href="https://susteen7.zendesk.com/hc/en-us">Support</a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>
</div><link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
               STOCK TABLE
            </h1>
        </div>
        <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
        		<thead class="cf">
        			<tr>
        				<th>Code</th>
        				<th>Company</th>
        				<th class="numeric">Today</th>
        				<th class="numeric">Yesterday</th>
        				<th class="numeric">Change %</th>
        			</tr>
						</thead>
						 {% if allData %}
        		<tbody>
							{% for data, vals, abc in allData %}
							
        			<tr>
        				<td data-title="Code"><a href="graphs/{{data.1}}">{{ data.1 }}</a></td>
        				<td data-title="Company">{{ data.0 }}</td>
        				<td data-title="Price" class="numeric">{{ vals.0.0 }}</td>
        				<td data-title="Change" class="numeric">{{ vals.1.0 }}</td>
        				<td data-title="Change %" class="numeric">{{ vals.2 }}</td>
							</tr>
							{% endfor %}
						</tbody>
						 {% endif %}
        	</table>
        </div>
    </div>
    <div class="row">
        <p align="center" class="bg-success" style="padding:10px;margin-top:20px">And thats all hosses</p>
    </div>
</div>


</body>	
</html>